
# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Project Specific
BalanzaQ_PORTABLE/
BalanzaQ_PORTABLE.rar
*.db-shm
*.db-wal
/tmp/
*.log
*.DAT.READ
*DEBUG.DAT
compare_debug.ps1
Generar_Version_Portable.bat

# User Data
BalanzaQ.Web/balanzas.db
